<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76879704923-9f6d8gskjj19c5m9i9i0441ogo0a54j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76879704923-9f6d8gskjj19c5m9i9i0441ogo0a54j9</string>
	<key>API_KEY</key>
	<string>AIzaSyCYiKJEwufmQHghEXXfAsFmLHf8tikvx04</string>
	<key>GCM_SENDER_ID</key>
	<string>76879704923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alek.loginwithsnap</string>
	<key>PROJECT_ID</key>
	<string>discovermeowapp</string>
	<key>STORAGE_BUCKET</key>
	<string>discovermeowapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76879704923:ios:6f27f451e95cedf84e207e</string>
</dict>
</plist>